<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="de.ovgu.featureide.core.winvmj.testingui.editors.MultiPageEditor"
            name="Sample Multi-page Editor"
            icon="icons/sample.png"
            extensions="mpe"
            class="de.ovgu.featureide.core.winvmj.testingui.editors.MultiPageEditor"
            contributorClass="de.ovgu.featureide.core.winvmj.testingui.editors.MultiPageEditorContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="de.ovgu.featureide.core.winvmj.testingui">
      </category>
      <wizard
            id="de.ovgu.featureide.core.winvmj.testingui.wizards.SampleNewWizard"
            name="Multi-page Editor file"
            icon="icons/sample.png"
            class="de.ovgu.featureide.core.winvmj.testingui.wizards.SampleNewWizard"
            category="de.ovgu.featureide.core.winvmj.testingui">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="de.ovgu.featureide.core.winvmj.testingui.category1"
            name="FeatureIDE WinVMJ">
      </category>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="true"
            contentFile="$nl$/cheatsheet/helloworld_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.category1"
            name="FeatureIDE WinVMJ Tutorial">
      </cheatsheet>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="false"
            contentFile="$nl$/cheatsheet/setup_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.cheatsheet602408488"
            name="First FeatureIDE Project">
      </cheatsheet>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="false"
            contentFile="$nl$/cheatsheet/model_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.cheatsheet1052394488"
            name="Feature Model">
      </cheatsheet>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="false"
            contentFile="$nl$/cheatsheet/featurestructure_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.cheatsheet1167302438"
            name="WinVMJ FeatureIDE Structure">
      </cheatsheet>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="false"
            contentFile="$nl$/cheatsheet/winvmj_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.cheatsheet32925272"
            name="WinVMJ">
      </cheatsheet>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="false"
            contentFile="$nl$/cheatsheet/authorization_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.cheatsheet1050728484"
            name="Authorization Guide">
      </cheatsheet>
      <cheatsheet
            category="de.ovgu.featureide.core.winvmj.testingui.category1"
            composite="false"
            contentFile="$nl$/cheatsheet/developers_corner_cheatsheet.xml"
            id="de.ovgu.featureide.core.winvmj.testingui.cheatsheet337014856"
            name="Developer&apos;s Corner">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/winvmj_tutorial.xml">
      </configExtension>
      <configExtension
            configId="de.ovgu.featureide.core.winvmj.testingui.configExtension1"
            content="intro/tutorial_page.xml">
      </configExtension>
   </extension>

</plugin>
