<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="id.ac.ui.cs.prices.winvmj.composer.WinVMJComposer"
            description="Compose Web Backend with Delta-Oriented Programming approach"
            id="de.ovgu.featureide.core.winvmj.composer"
            name="WinVMJ"
            nature="de.ovgu.featureide.core.winvmj.composer">
      </composer>
   </extension>
   <extension
         point="de.ovgu.featureide.fm.core.FMComposer">
      <fmComposer
            class="id.ac.ui.cs.prices.winvmj.composer.WinVMJFMComposer"
            composer="de.ovgu.featureide.core.winvmj.composer"
            id="de.ovgu.featureide.core.winvmj.fmcomposer"
            name="WinVMJ Feature Model Composer">
      </fmComposer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenu?before=de.ovgu.featureide.fm.ui.menus.popupMenu.submenus">
         <menu
               icon="resources/icons/FeatureIconSmall.ico"
               id="de.ovgu.featureide.core.winvmj.ui.submenu"
               label="WinVMJ"
               tooltip="Compile the generated Product">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           property="de.ovgu.featureide.fm.ui.properties.composer"
                           args="de.ovgu.featureide.core.winvmj.composer"
                           value="de.ovgu.featureide.core.winvmj.composer">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.compilehandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.compilehandler"
                  label="Compile"
                  style="push">
            </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.routinggenhandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.routinggenhandler"
                  label="Generate SelectedFeature"
                  style="push">
            </command>
             <command
                  commandId="de.ovgu.featureide.core.winvmj.compileModulesHandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.compileModulesHandler"
                  label="Compile Modules Folder"
                  style="push">
                  <visibleWhen checkEnabled="false">
	                  <with variable="activeMenuSelection">
	                     <iterate ifEmpty="false">
	                        <adapt type="org.eclipse.core.resources.IFolder">
 								<test property="org.eclipse.core.resources.name" value="modules"/>
	                        </adapt>
	                     </iterate>
	                  </with>
	               </visibleWhen>
            </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.compileModuleHandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.compileModuleHandler"
                  label="Compile This Module"
                  style="push">
                  <visibleWhen checkEnabled="false">
	                  <with variable="activeMenuSelection">
	                     <iterate ifEmpty="false">
	                        <adapt type="org.eclipse.core.resources.IFolder">
								<test property="org.eclipse.core.resources.path" value="*/modules/*"/>
	                        </adapt>
	                     </iterate>
	                  </with>
	               </visibleWhen>
	        </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.openfeaturewizardhandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.openfeaturewizardhandler"
                  label="Multi Level Configuration"
                  style="push"
            >
            </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.deploymenthandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.deploymenthandler"
                  label="Deploy with PaaS"
                  style="push">
            </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.deploymentsshhandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.deploymentsshhandler"
                  label="Deploy with SSH"
                  style="push">
            </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.generatemonitoringconfighandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.generatemonitoringconfighandler"
                  label="Generate Monitoring Configuration"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activeMenuSelection">
                     <iterate ifEmpty="false">
                        <adapt type="org.eclipse.core.resources.IFile">
                           <and>
                              <test property="org.eclipse.core.resources.extension" value="xml"/>
                              <test property="org.eclipse.core.resources.path" value="*/configs/*"/>
                           </and>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.ovgu.featureide.core.winvmj.microservicescomposehandler"
                  icon="resources/icons/FeatureIconSmall.ico"
                  id="de.ovgu.featureide.core.winvmj.microservicescomposehandler"
                  label="Compose Microservices"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="services-def.json">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.CompileHandler"
            commandId="de.ovgu.featureide.core.winvmj.compilehandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.RoutingGenHandler"
            commandId="de.ovgu.featureide.core.winvmj.routinggenhandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.CompileModulesHandler"
            commandId="de.ovgu.featureide.core.winvmj.compileModulesHandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.CompileModuleHandler"
            commandId="de.ovgu.featureide.core.winvmj.compileModuleHandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.OpenFeatureWizardHandler"
            commandId="de.ovgu.featureide.core.winvmj.openfeaturewizardhandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.DeploymentHandler"
            commandId="de.ovgu.featureide.core.winvmj.deploymenthandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.DeploymentSshHandler"
            commandId="de.ovgu.featureide.core.winvmj.deploymentsshhandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.GenerateMonitoringConfigHandler"
            commandId="de.ovgu.featureide.core.winvmj.generatemonitoringconfighandler">
      </handler>
      <handler
            class="id.ac.ui.cs.prices.winvmj.composer.ui.handlers.MicroservicesComposeHandler"
            commandId="de.ovgu.featureide.core.winvmj.microservicescomposehandler">
      </handler>
   </extension>
</plugin>
