# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_HOST=rabbitmq

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=webshop_product_hipstershop_catalog
DB_PORT=5432
DB_CONTAINER_NAME=amanah_postgres

# Backend
AMANAH_PORT_BE=8080
AMANAH_DB_URL=jdbc:postgresql://db:5432/webshop_product_hipstershop_catalog
PRODUCTLINE=webshop
BACKEND_MAIN_CLASS=hipstershopcatalog
BACKEND_CONTAINER_NAME=product_backend

# Frontend
FRONTEND_MAIN_CLASS=webshop
FRONTEND_PORT=3000
FRONTEND_CONTAINER_NAME=frontend

# API Gateway
API_GATEWAY_MAIN_CLASS=webshop
API_GATEWAY_PORT=7776
API_GATEWAY_HOST=0.0.0.0
API_GATEWAY_CONTAINER_NAME=api_gateway
SERVICE_CATALOG_URL=http://service-catalog:8080
SERVICE_ORDER_URL=http://service-order:8080
SERVICE_PAYMENT_CC_URL=http://service-payment-cc:8080
SERVICE_PAYMENT_EWALLET_URL=http://service-payment-ewallet:8080

# Shared network
NET=amanah_shared_network
